<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.sheamuspy"
    versionCode = "10"
    version     = "1.0.0" >
        <!-- Barcode Scanner plugin -->
        <gap:plugin name="net.roughshod.plugins.barcodescanner" version="3.0.0" />

        <!-- Whitelist plugin: Enables cross platforms requests -->
        <gap:plugin name="cordova-plugin-whitelist" source="npm" />

        <allow-navigation href="*" />
        <allow-intent href="*" />
        <access origin="*" />


        <gap:plugin name="org.apache.cordova.file"/>
        <preference name="AndroidPersistentFileLocation" value="Internal" />

    <!-- versionCode is optional and Android only -->

    <name>Vendite-teller</name>

    <description>
      Basic mobile point of sale system.
    </description>

    <author href="plus.google.com/+SheamusPunchYebisi" email="sheamuspy@gmail.com">
      Sheamus Punch Yebisi
    </author>
</widget>
